{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ExTest: Expicient e-Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tool to conduct online tests.">
        <meta name="author" content="Arun K. R.<arun.rajeevan@expicient.com>">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

        {% block headerstyle %}{% endblock %}
        {% block headerjs %}{% endblock %}
    </head>

    <body ondragstart="return false" onselectstart="return false">
        {% block titlebar %}
        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="../">Expicient e-Test</a>
                {% block navs %} {% endblock %}
            </div>
        </div>
        {% endblock %}

        <div class="container">
            {% block content %}{% endblock %}

            {% block footer %}
            <hr />
            <footer class="footer">
                <p class="pull-right">&copy; All rights reserved Expicient Inc. 2012</a></p>
            </footer>
            {% endblock %}

        </div><!-- /container -->
         
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap.min.js"></script>

        {% block bodyjs %}{% endblock %}

        {% block norightclickjs %}
        <script> 
            var message="Function Disabled!"; 
            function clickIE4(){ 
                if (event.button==2){ 
                    //alert(message); 
                    return false; 
                } 
            } 
            function clickNS4(e){ 
                if (document.layers||document.getElementById&&!document.all){ 
                    if (e.which==2||e.which==3){ 
                        //alert(message); 
                        return false; 
                    } 
                } 
            } 
            if (document.layers){ 
                document.captureEvents(Event.MOUSEDOWN); 
                document.onmousedown=clickNS4; 
            } else if (document.all&&!document.getElementById){ 
                document.onmousedown=clickIE4; 
            } 
            document.oncontextmenu=new Function("return false") 
        </script>
        {% endblock %}    
    </body>    
</html>
