{% extends "base.html" %}

{% block navs %}
<ul class="nav">
    <li class="divider-vertical"></li>
    {% for key, val in cat_beg.iteritems %}
        {% if val %}
            <li {% if cur in val %}class="active"{% endif %}><a href="{% url onlinetest.views.test qid=val.0 %}">{{ key }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<ul class="nav pull-right">
    <li class="dropdown">
        <a class="dropdown-toggle" role="menu" data-toggle="dropdown" data-target="#" href="#"> 
            Book Marks <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="bookmarks">
            {% for item in bookmarks %}
                <li><a href="{% url exam qid=item %}">Bookmark{{forloop.counter}}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}

{% block content %}
<section id="content">
    <br />
    <div class="row">
            <div class="span3">
                <p id="counter"></p>
                <!-- {{ request.session.should_end_at|timeuntil }} more -->
                <br />
                <div class="well"> {{ answerd }} out of 30 question attempted.</div>                
                <br />
                <a class="btn btn-warning btn-large" href="{% url onlinetest.views.submit %}">End Test</a>
            </div>

            <div class="span9"> 
                <div class="flash">
                    <div class="alert" id="holder"></div>
                </div>
                {% if cur in bookmarks %}
                    <a class="btn btn-info pull-right" href="{% url unmark qid=cur %}">Un BookMark</a>
                {% else %}
                    <a class="btn btn-primary pull-right" href="{% url mark qid=cur %}">BookMark</a>
                {% endif %}

                {% if para %} {{ para|safe|escape }} <br /> {% endif %}

                {{ question|safe|escape }} <br />

                <form action="#" method="post" id="answerme">{% csrf_token %}
                    <div style='display:none'><input type='hidden' name='question_item' value='{{ cur }}' /></div>
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="answer" value="{{ options.0.pk }}" {% if sel_opt %}{% if sel_opt == options.0.pk %} checked {% endif %}{% endif %} /> 
                            {{ options.0.answer|safe|escape }}
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" value="{{ options.1.pk }}" {% if sel_opt %}{% if sel_opt == options.1.pk %} checked {% endif %}{% endif %} />
                            {{ options.1.answer|safe|escape }}
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" value="{{ options.2.pk }}" {% if sel_opt %}{% if sel_opt == options.2.pk %} checked {% endif %}{% endif %} />
                            {{ options.2.answer|safe|escape }}
                        </label>
                        <label class="radio">
                            <input type="radio" name="answer" value="{{ options.3.pk }}" {% if sel_opt %}{% if sel_opt == options.3.pk %} checked {% endif %}{% endif %} />
                            {{ options.3.answer|safe|escape }}
                        </label>
                    </div>
                </form>

                <br />
                <ul class="pager">
                    {% if prev %}
                    <li class="previous">
                        <a href="{% url exam qid=prev %}">&larr; Prev</a>
                    </li>
                    {% else %}
                    <li class="previous disabled">
                        <a href="#">&larr; Prev</a>
                    </li>
                    {% endif %}

                    {% if next %}
                    <li class="next">
                        <a href="{% url exam qid=next %}">Next &rarr;</a>
                    </li>
                    {% else %}
                    <li class="next disabled">
                        <a href="#">Next &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div> <!-- span9 -->

        </div> <!-- row -->
        {{ len }}
</section>
{% endblock %}

{% block bodyjs %} 
<script src="{{ STATIC_PREFIX }}countdown/js/jquery.countdown.min.js"></script>
<script>
    $(function(){
        $('.flash').click(function() { $(this).fadeOut('slow'); return false; });
        $('.flash').hide();

        // counter logic
        $('#counter').countdown({
            image: '{{ STATIC_PREFIX }}countdown/img/digits.png',
            startTime: '{{ remaining_minutes }}:{{ remaining_seconds }}',
            timerEnd: function(){ alert('end!'); },
            format: 'mm:ss'
        });

        // answer persistance logic
        $('input[name=answer]').change(function(){
            $.ajax({
                url: '{% url store %}',
                type: 'post',
                dataType: 'json',
                data: $('#answerme').serialize(),
                success: function(data) {
                    if(data['msg'] === 'success'){
                        //show success
                        var obj = $('#holder');
                        obj.text('Your selection saved.');
                        obj.addClass('alert-success').removeClass('alert-error');
                    }else{
                        //show error
                        var obj = $('#holder');
                        obj.text(data['msg']);                        
                        obj.addClass('alert-error').removeClass('alert-success');
                    }
                    if($('#holder').html()!=''){$('.flash').slideDown('slow');}
                }
            });
        });
        
    });
</script>
{% endblock %}