{% extends "base.html" %}

{% block content %}
<section id="content">
    <div class="page-header">
        <h1>Register</h1>
        <p class="lead">Please read the instructions and fill in your details to start the Test</p>
    </div>
    <div class="row">
        <div class="span8">
            <p> Read the instructions creafully before filling out the registration form.
                <ul>
                    <li>Once you filled the registration form, exam will be started.</li>
                    <li>Do not close the browser once exam is started.</li>
                    <li>Exam will be closed automatically after given exam period (usually 45min).</li>
                    <li>You can End exam at any point of time. This action is not revokable.</li>
                    <li>Use your own email address, as it's used later to contact you and to uniquely identify you.</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>Every correct answer adds 1 point to your total.</li>
                    <li>Every incorrect answer will reduce 0.25 point from your total.</li>
                    <li>There will be a total of 30 questions.</li>
                </ul>
            </p>
            <p> Good Luck you champ :)</p>
        </div>
        <div class="span4">
            <form action="" method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-large btn-primary" type="submit" value="Start the test" />
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block bodyjs %}
<script> 
    function FilterQuestionPapers(){ 
        var questionPaperList = $('#id_question_paper'); //get question_paper dropdown
        questionPaperList.html(''); //remove every options
        questionPaperList.append(new Option('Loading...', '-1', false, false));
        questionPaperList.attr('disabled', 'disabled');
        var collegeList = $('#id_college');
        var cid = collegeList.val();

        if(cid>0){
            $.getJSON('/pbyc/' + cid + '/', function(data) {
                var count = 0;
                questionPaperList.html(''); //remove every options                    
                $.each(data, function(key, val) {
                    questionPaperList.append(new Option(val, key, false, false));
                    count += 1;
                });

                if(count > 0){
                    questionPaperList.removeAttr('disabled');
                }else{
                    questionPaperList.html(''); //remove every options
                    questionPaperList.append(new Option('No deployed tests', '-1', false, false));
                }
                
            });
        }else{
            questionPaperList.html(''); //remove every options                    
            questionPaperList.append(new Option('Select College', '-1', false, false));
            questionPaperList.attr('disabled', 'disabled');
        }
    }
    $(document).ready(function() {
        FilterQuestionPapers();
    });
</script>
{% endblock %}