<h1>On-line Test Tool</h1>

<h2>Idea</h2>
<ul>
 <li>
     Tool to conduct online objective tests and get results
 </li>

 <li>
     Tool to create &amp; manage a question bank
 </li>

 <li>
     Test will be 45 mins (changeable)
 </li>

 <li>
     30 objective questions, equally divided into three sections.
 </li>

 <li>
     Each question have 4 choises (only one is selectable)
 </li>

 <li>
     Session will be closed at the end of time period (and data will be saved).
 </li>
</ul>

<h2>Question Bank</h2>
<ul>
 <li><p>quesions with 4 choises. ferequency to keep track how many times we used that.
</p>
<pre><code>&lt;questionbank&gt;
    &lt;question id="" frequency="" category="" text=""&gt;
        &lt;answer id="" text="" correct="correct" /&gt;
        &lt;answer id="" text="" /&gt;
        &lt;answer id="" text="" /&gt;
        &lt;answer id="" text="" /&gt;
    &lt;/question&gt;
    &lt;question id="" frequency="" category="" text=""&gt;
        &lt;answer  id="" text="" /&gt;
         -------
         -------
    &lt;/question&gt;
    --------
    --------
&lt;/questionbank&gt;
</code></pre>
 </li>

 <li><p>categoris
</p>
<pre><code>&lt;categories&gt;
    &lt;category id="" text="" /&gt;
    &lt;category id="" text="" /&gt;
    --------
&lt;/categories&gt;
</code></pre>
 </li>

 <li><p>Question papers
</p>
<pre><code>&lt;questionpaper&gt;
    &lt;paper id=""&gt;
        &lt;question id="" category=""/&gt;
        &lt;question id="" category=""/&gt;
        ------------
    &lt;/paper&gt;
&lt;/questionpaper&gt;
</code></pre>
 </li>

 <li><p>Answersheets
</p>
<pre><code>&lt;answersheets&gt;
    &lt;answersheet id="" studentid="" paperid=""&gt;
        &lt;answer questionid="" answerid="" /&gt;
        &lt;answer questionid="" answerid="" /&gt;
        --------
    &lt;/answersheet&gt;
&lt;/answersheets&gt;
</code></pre>
 </li>

 <li><p>Students
</p>
<pre><code>&lt;students&gt;
    &lt;student id="" name="" email="" course="" phone="" collegeid="" year="" /&gt;
    &lt;student id="" name="" email="" course="" phone="" collegeid="" year="" /&gt;
    -------------------
&lt;/students&gt;
</code></pre>
 </li>

 <li><p>Colleges
</p>
<pre><code>&lt;colleges&gt;
    &lt;college id="" name="" place="" /&gt;
    &lt;college id="" name="" place="" /&gt;
    -------------
&lt;/colleges&gt;
</code></pre>
 </li>
</ul>
<pre><code>
</code></pre><pre><code>
</code></pre><pre><code>
</code></pre><pre><code>
</code></pre>