<html>
<head>
<img src='/static/img/logo.png'/>

<h4>College : {{collname}}</h4>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEST RESULT</h3>

	<title>View Report</title>
	<style type="text/css">
		table, td, th
		{
		border:1px solid black;
		}
		td
		{
		height:50px;
		vertical-align:bottom;
		text-align:center;
		valign:middle;
		}
		form
		{
		position: fixed;
		bottom: 0;
		center: 0;
		}
	</style>
</head>

<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Total Marks</th>
			<th>Mathematics Marks</th>
			<th>LR Marks</th>
			<th>RC Marks</th>
		</tr>
		{% for o in data %}
		    <tr>
		    	<td>{{o.name}}</td>
		    	<td>{{o.marks_obtained}}</td>
		    	<td>{{o.lr_marks}}</td>
		    	<td>{{o.mathematics_marks}}</td>
		    	<td>{{o.rc_marks}}</td>
		    </tr>
		{% endfor %}
	</table><br/>
	<form action="/save_report/" method="GET">
		File name: <input type="text" name="filename" />
		<input type="submit" name="submit" value="Submit">
		<input type="button" value="Print" onclick="window.print()" />		
	</form>
</body>
</html>