{% extends "base.html" %}
{% block content %}
	<style type="text/css">
		table, h3
		{
		
		}
		.headdiv
		{
		
		font-size:110%;
		}
		table, td, th
		{border-style:solid;
		border-width:1px;
		width: 1000px;
		}
		form
		{
		position: fixed;
		top: 0;
		right: 0;
		}
	</style>
	
<div class="headdiv" style="display:inline"><div style="float:center"><br/>College : {{collname}}</div><div>Address : {{address}},&nbsp;{{city}}</div></div>
<br/><br/>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEST RESULT</h3>

	<title>View Report</title>
	

	<table>
		<tr>
			<th>Question Paper</th>
			<th>Name</th>
			<th>LR marks</th>
			<th>Mathematics Marks</th>
			<th>RC Marks</th>
			<th>Marks</th>
		</tr>
		
		{% for name in batchnamelist %}
		<tr><td colspan="6">{{name}}</td></tr>
		{% for val in candidates_list %}
		{% if val.batch == name %}
		<tr><td></td><td>{{val.name}}</td> <td>{{val.lr_marks}}</td> <td>{{val.mathematics_marks}}</td> <td>{{val.rc_marks}}</td> <td>{{val.marks_obtained}}</td></tr>
		{% endif %}
		{% endfor %}
		{% endfor %}
		
	</table>
	
	
	<br/>
	<form action="/save_report/" method="GET">
		File name: <input type="text" name="filename" />
		<input type="submit" name="submit" value="Save File">
		<input type="button" value="Print this page" onclick="window.print()" />		
	</form>
{% endblock %}
