{% extends "base.html" %}
{% block content %}

<h3><i>REPORTS MODULE</i></h3><br/>
<title>ExTest: Expicient e-Test : Reports</title>


<form action="/report_mode/" method="GET">
<table>
				{{ form.as_table }}
			</table>
			<input type="submit" name="submit" value="Submit">
	</form>
	
	
{% endblock %}