{% extends "base.html" %}
{% block content %}
<h3><i>REPORT</i></h3><br/>
	<style type="text/css">
		table, td, th
		{
		border:1px solid black;
		}
		td
		{
		height:50px;
		vertical-align:bottom;
		text-align:center;
		valign:middle;
		}
	</style>

	<table>
		<tr>
			<th>College Name</th>
			<th>View Batches</th>
		</tr>
		{% for o in data %}
		    <tr>
		    	<td>{{o.name}}</td>
		    	<td><a href="{% url get_batches cid=o.id %}">View Batches</a></td>
		    </tr>
		{% endfor %}
	</table>
{% endblock %}