<html>
<head>SAVE REPORT
<title>Reports</title></head>

<body>
	<form action="/report_mode/" method="GET">
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>
