<html>
<head><h3>REPORT</h3>
	<title>View Report</title>
	<style type="text/css">
		table, td, th
		{
		border:1px solid black;
		}
		td
		{
		height:50px;
		vertical-align:bottom;
		text-align:center;
		valign:middle;
		}
	</style>
</head>

<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Total Marks</th>
			<th>Total Ques</th>
			<th>Total Answered</th>
			<th>Total Unanswered</th>
			<th>DI Answered</th>
			<th>DI Unanswered</th>
			<th>LR Answered</th>
			<th>LR Unanswered</th>
			<th>Maths Answered</th>
			<th>Maths Unanswered</th>
			<th>RC Answered</th>
			<th>RC Unanswered</th>
		</tr>
		{% for o in data %}
		    <tr>
		    	<td>{{o.name}}</td>
		    	<td>{{o.marks_obtained}}</td>
		    	<td>{{o.total_ques}}</td>
		    	<td>{{o.total_answered}}</td>
		    	<td>{{o.total_unanswered}}</td>
		    	<td>{{o.di_answered}}</td>
		    	<td>{{o.di_unanswered}}</td>
		    	<td>{{o.lr_answered}}</td>
		    	<td>{{o.lr_unanswered}}</td>
		    	<td>{{o.mathematics_answered}}</td>
		    	<td>{{o.mathematics_unanswered}}</td>
		    	<td>{{o.rc_answered}}</td>
		    	<td>{{o.rc_unanswered}}</td>
		    </tr>
		{% endfor %}
	</table>
</body>
</html>